body {
    padding:0; margin:0;
    background: url('kinob.jpg') repeat-x;
    background-position: top;
    min-height: 1500px;
    font-family: arial;
}

a img {
	border:none;
}

#root{
    text-align: center;
}

#menu{
    height: 192px;
    vertical-align: text-top;
}

#content{
    width: 618px;
    vertical-align: top;
}

#niz{
	height: 530px;
}


#announce_time{
    text-align: left;
    width: 266px;
    vertical-align: top;
}

#announce_time_act{
    padding-top: 200px;
}

#announce_future{
    text-align: left;
    vertical-align: top;

}

#announce_future table td{
    padding: 3px;
}

.announce_future_desc{
    padding-left: 20px;
}

.announce_future_date{
    width:110px;
}

.actual_date_d{
    color: white;
    font-size: 24px;
}

.actual_date_B{
    color: white;
    font-size: 12px;
}

.actual_date_H{
    color: #f5fe10;
    font-size: 14px;
}

.announce_name{
    padding-top: 86px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

.announce_desc{
    text-align: left;
    min-height: 130px;
}

#announce_desc_acc{
    text-align: justify;
    color: #6999db;
}

#shift_menu{
    height: 334px;
}

#center{
	height: 651px;
}

a{
    text-decoration: underline;
    color: #6999db;
}

a:visited{
    color: #6999db;
}

a:hover{
    color: #f5fe10;
}

.announce_future_name{
    color: white;
}

.announce_desc a{
    text-decoration: underline;
    color: #6999db;
}

#left_menu{
    text-align: right;
    padding-right: 150px;
    vertical-align: top;
}

#left_menu div{
    padding-bottom: 52px;
}

#right_archive{
    padding-top: 120px;
    vertical-align: top;
}

#right_archive a{
    color: white;
    font-size: 24px;
    text-decoration: none;
}

#mainphoto{
    padding-top: 34px;
    padding-left: 16px;
    text-align: left;
}