
<div id="mainphoto">
  <%= link_to image_tag(@event.photo.url(:original)), event_path(@event) %>
</div>
<div class="announce_name">
  <%= @event.name %>
</div>
<div class="announce_desc">
  <%= link_to (@event.description).split("\n")[0..1], event_path(@event) %>
</div>