
<div id="mainphoto">
  <%= link_to image_tag(@event.photo.url(:original)), event_path(@event) %>
</div>
<div class="announce_name">
  <%= @event.name %>
</div>
<div id="announce_desc_acc">
  <%= @event.description %>
</div>